<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anonymous</title>

<script src="js/script.js" type="module" defer></script>
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon" />

    <script
      src="https://kit.fontawesome.com/1af5233792.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="scss/style.css" />
  </head>

  <body>
    <div class="afterloading">
    <div class="heading"><i class="fas fa-user-secret icon1"></i>Anonymous</div>

    <div class="background">
      <div class="options">
        <form action="/dasd">
          <br />
          <br />
          <br />

          <input
            type="text"
            class="call"
            placeholder="write user id to call to user"
            required
          />
          <br />
          <br />
          <button type="submit">Call with user id</button>
          <br />
          <br />
          <button type="button" id='call'>Random call</button>
        </form>
      </div>

      <div class="informations">
        <div class="choice">
          <i class="fas fa-user"></i><i class="fas fa-user-friends"></i
          ><i class="fas fa-chart-bar"></i><i class="fas fa-info-circle"></i>
        </div>
        
        <br>
        <div id="dummy">
        <input type="text" id="socketId">

        </div>
      </div>
    </div>
   <div class="ending2">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="#contact us">contact</a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <a href="#support">support</a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <a href="#help">Download</a>

    </div>
 
    </div>
    <div class="onloading">
      loading...
    </div>
  </body>
</html>
